<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BodyTemplate</key>
	<string>&lt;html&gt;
&lt;head&gt;
&lt;/head&gt;

&lt;body&gt;

&lt;style type=&quot;text/css&quot;&gt;
table { border-collapse: collapse; empty-cells: show}
tr {}
td { border: 1px solid black; }
h1 { font-size: 150% }
.label { font-weight: bold; min-width: 15em;}
.value { background: #eeeeee; min-width: 15em;}
.signature {font-size: xx-small;}

&lt;/style&gt;

::token::templateForObject::policyHolderSection::user::
&lt;br/&gt;
::token::templateForObject::claimDetailsSection::event::

&lt;p class=&quot;photos&quot;&gt;
Foram anexadas as seguintes fotografias:
&lt;ul&gt;
::token::valueForKey::photoOrder::
&lt;/ul&gt;
&lt;/p&gt;

&lt;p class=&quot;signature&quot;&gt;
::token::valueForKey::applicationSignature::
&lt;/p&gt;

&lt;/body&gt;
&lt;/html&gt;
</string>
	<key>claimDetailsSection</key>
	<string>&lt;h1&gt;Detalhes do Sinistro&lt;/h1&gt;

&lt;table&gt;
  &lt;col /&gt;
  &lt;col /&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Apólice #&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::policyNumber::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Tipo Sinistro&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::eventSubType::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Data Sinistro&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::incidentDateTime::&lt;/td&gt;
    &lt;/tr&gt;    
::token::templateForObject::claimLocationRows::eventLocation::
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Notas&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::notes::&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;

::token::templateForObject::witnessSection::eventWitnesses::
::token::templateForObject::policeSection::eventPoliceOfficers::
::token::templateForObject::policeReportsSection::eventPoliceReports::
::token::templateForObject::otherDrivers::eventDrivers::
</string>
	<key>claimLocationRows</key>
	<string>    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Local/Endereço do Acidente&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::streetAddress::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Cidade&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::city::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;CEP&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::zipCode::&lt;/td&gt;
    &lt;/tr&gt;
::token::templateForObject::locationRows::geolocation::</string>
	<key>DefaultSubject</key>
	<string>Sinistro</string>
	<key>DefaultTo</key>
	<string>celulasinistro@libertyseguros.com.br</string>
	<key>locationRows</key>
	<string>    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Latitude&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::latitude::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Longitude&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::longitude::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Link do Google Maps&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;&lt;a href=&quot;::token::valueForKey::googleMapsLink::&quot;&gt;Google Maps&lt;/a&gt;&lt;/td&gt;
    &lt;/tr&gt;</string>
	<key>otherDrivers</key>
	<string>&lt;h1&gt;Outros Condutores&lt;/h1&gt;

&lt;table&gt;
  &lt;col /&gt;
  &lt;col /&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Nome&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::firstName::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Sobrenome&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::lastName::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Telefone&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::homePhone::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Email&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::emailAddress::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Seguradora&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::insuranceCompany::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Apólice&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::policyNumber::&lt;/td&gt;
    &lt;/tr&gt;
    ::token::templateForObject::vehicleRows::driverVehicle::
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Notas&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::notes::&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;</string>
	<key>photoArraySection</key>
	<string>&lt;h1&gt;::token::valueForKey::heading::&lt;/h1&gt;

&lt;table&gt;
  &lt;col /&gt;
  &lt;tbody&gt;
::token::templateForObject::pictureRow::photos::
  &lt;/tbody&gt;
&lt;/table&gt;
</string>
	<key>photosSection</key>
	<string>&lt;h1&gt;Fotografias do Sinistro&lt;/h1&gt;

&lt;table&gt;
  &lt;col /&gt;
  &lt;col /&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Sessão da Imagem&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::imageSection::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Número da Imagem&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::imageNumber::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Nome da Imagem&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::imageName::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
    &lt;td colspan=&quot;2&quot;&gt;
    &lt;img src=&quot;data:image/jpg;base64,::token::valueForKey::base64FullImage::&quot; /&gt;
    &lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
</string>
	<key>pictureCell</key>
	<string>&lt;td&gt;?&lt;/td&gt;</string>
	<key>pictureRow</key>
	<string>    &lt;tr&gt;
      &lt;td class=&quot;photo&quot;&gt;&lt;img src=&apos;data:image/jpg;base64,::token::valueForKey::base64FullImage::&apos; /&gt;&lt;/td&gt;
    &lt;/tr&gt;
</string>
	<key>policeLocationRows</key>
	<string>&lt;tr&gt;
   &lt;td class=&quot;label&quot;&gt;Localidade&lt;/td&gt;
   &lt;td class=&quot;value&quot;&gt;::token::valueForKey::city::&lt;/td&gt;
 &lt;/tr&gt;</string>
	<key>policeSection</key>
	<string>&lt;h1&gt;Informação Autoridades / B.O.&lt;/h1&gt;

&lt;table&gt;
  &lt;col /&gt;
  &lt;col /&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Entidade&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::firstName::&lt;/td&gt;
    &lt;/tr&gt;
::token::templateForObject::policeLocationRows::contactAddress::
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Notas&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::notes::&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;</string>
	<key>policyholderLocationRows</key>
	<string>    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Endereço&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::streetAddres::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Cidade&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::city::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;CEP&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::zipCode::&lt;/td&gt;
    &lt;/tr&gt;</string>
	<key>policyHolderSection</key>
	<string>&lt;h1&gt;Informação do Segurado&lt;/h1&gt;

&lt;table&gt;
  &lt;col /&gt;
  &lt;col /&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Nome&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::firstName::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Sobrenome&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::lastName::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Celular&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::mobilePhone::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Telefone&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::homePhone::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Email&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::emailAddress::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;</string>
	<key>ShareInfoTemplate</key>
	<string>&lt;html&gt;
&lt;body&gt;
&lt;style type=&quot;text/css&quot;&gt;
table { border-collapse: collapse; empty-cells: show}
tr {}
td { border: 1px solid black; }
h1 { font-size: 150% }
.label { font-weight: bold; min-width: 15em;}
.value { background: #eeeeee; min-width: 15em;}
.signature {font-size: xx-small;}

&lt;/style&gt;
&lt;table&gt;
  &lt;col /&gt;
  &lt;col /&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Nome&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::firstName::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Sobrenome&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::lastName::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Apólice Auto&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::policyNumber::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Telefone&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::homePhone::&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
Enviado da aplicação iPhone Liberty Seguros Mobile
&lt;/body&gt;
&lt;/html&gt;</string>
	<key>vehicleRows</key>
	<string>    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Marca&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::make::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Modelo&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::model::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Ano &lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::year::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Cor&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::color::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Placa &lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::registrationNumber::&lt;/td&gt;
    &lt;/tr&gt;</string>
	<key>witnessSection</key>
	<string>&lt;h1&gt;Testemunhas&lt;/h1&gt;

&lt;table&gt;
  &lt;col /&gt;
  &lt;col /&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Nome&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::firstName::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Sobrenome&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::lastName::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Telefone&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::homePhone::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Email&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::emailAddress::&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td class=&quot;label&quot;&gt;Notas&lt;/td&gt;
      &lt;td class=&quot;value&quot;&gt;::token::valueForKey::notes::&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;</string>
</dict>
</plist>
