<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClaimDetail</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Label</key>
			<string>Ligar para a Central de Atendimento Auto?</string>
			<key>Number</key>
			<string>0800 701 4120</string>
		</dict>
		<key>1</key>
		<dict>
			<key>Label</key>
			<string>Ligar para a Central de Atendimento Residência?</string>
			<key>Number</key>
			<string>0800 702 5100</string>
		</dict>
	</dict>
	<key>ContactUs</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Label</key>
			<string>Ligar para a Central de Atendimento</string>
			<key>Number</key>
			<string>4004 5423</string>
		</dict>
		<key>1</key>
		<dict>
			<key>Label</key>
			<string>Ligar para a Central de Atendimento</string>
			<key>Number</key>
			<string>0800 709 5423</string>
		</dict>
		<key>2</key>
		<dict>
			<key>Label</key>
			<string>Ligar para Assistência 24h</string>
			<key>Number</key>
			<string>0800 701 4120</string>
		</dict>
		<key>3</key>
		<dict>
			<key>Label</key>
			<string>Ligar para Assistência 24h</string>
			<key>Number</key>
			<string>0800 702 5100</string>
		</dict>
		<key>4</key>
		<dict>
			<key>Label</key>
			<string>Ligar para a Central de Atendimento</string>
			<key>Number</key>
			<string>0800 709 5423</string>
		</dict>
	</dict>
	<key>Safelite</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Label</key>
			<string>Please call Safelite Solutions LLC to continue at</string>
			<key>Number</key>
			<string>(800) 567-5568</string>
		</dict>
	</dict>
	<key>SafetyCheck</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Label</key>
			<string>Ligar para a Central de Atendimento Auto?</string>
			<key>Number</key>
			<string>0800 701 4120</string>
		</dict>
		<key>1</key>
		<dict>
			<key>Label</key>
			<string>Ligar para a Central de Atendimento Residência?</string>
			<key>Number</key>
			<string>0800 702 5100</string>
		</dict>
		<key>911</key>
		<dict>
			<key>Label</key>
			<string>Ligar 190 ?</string>
		</dict>
	</dict>
</dict>
</plist>
