<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<true/>
		<key>menuItem</key>
		<string>Recuperação de senha</string>
		<key>section</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>header</key>
		<false/>
		<key>menuItem</key>
		<string>CPF</string>
		<key>section</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>2</integer>
		<key>length</key>
		<integer>100</integer>
		<key>placeholder</key>
		<string>CPF</string>
	</dict>
	<dict>
		<key>header</key>
		<false/>
		<key>menuItem</key>
		<string>Email</string>
		<key>section</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>3</integer>
		<key>length</key>
		<integer>100</integer>
		<key>placeholder</key>
		<string>Email</string>
	</dict>
	<dict>
		<key>header</key>
		<false/>
		<key>menuItem</key>
		<string>Enviar</string>
		<key>section</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
