<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<true/>
		<key>menuItem</key>
		<string>Dados do contato</string>
		<key>section</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>header</key>
		<false/>
		<key>length</key>
		<integer>50</integer>
		<key>menuItem</key>
		<string>Nome</string>
		<key>section</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>1</integer>
		<key>placeholder</key>
		<string>Nome</string>
	</dict>
	<dict>
		<key>header</key>
		<false/>
		<key>length</key>
		<integer>50</integer>
		<key>menuItem</key>
		<string>Sobrenome</string>
		<key>section</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>2</integer>
		<key>placeholder</key>
		<string>Sobrenome</string>
	</dict>
	<dict>
		<key>header</key>
		<false/>
		<key>length</key>
		<integer>50</integer>
		<key>menuItem</key>
		<string>Telefone</string>
		<key>section</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>3</integer>
		<key>placeholder</key>
		<string>99 9999 9999</string>
	</dict>
	<dict>
		<key>header</key>
		<false/>
		<key>length</key>
		<integer>50</integer>
		<key>menuItem</key>
		<string>E-mail</string>
		<key>section</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>4</integer>
		<key>placeholder</key>
		<string>email@mail.com</string>
	</dict>
	<dict>
		<key>header</key>
		<false/>
		<key>length</key>
		<integer>50</integer>
		<key>menuItem</key>
		<string>Seguradora</string>
		<key>section</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>5</integer>
		<key>placeholder</key>
		<string>Seguradora</string>
	</dict>
	<dict>
		<key>header</key>
		<false/>
		<key>length</key>
		<integer>50</integer>
		<key>menuItem</key>
		<string>Apólice</string>
		<key>section</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>6</integer>
		<key>placeholder</key>
		<string>Apólice</string>
	</dict>
	<dict>
		<key>header</key>
		<true/>
		<key>menuItem</key>
		<string>Dados do veículo</string>
		<key>section</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>header</key>
		<false/>
		<key>length</key>
		<integer>50</integer>
		<key>menuItem</key>
		<string>Ano</string>
		<key>section</key>
		<integer>1</integer>
		<key>tag</key>
		<integer>7</integer>
		<key>placeholder</key>
		<string>Ano</string>
	</dict>
	<dict>
		<key>header</key>
		<false/>
		<key>length</key>
		<integer>50</integer>
		<key>menuItem</key>
		<string>Marca</string>
		<key>section</key>
		<integer>1</integer>
		<key>tag</key>
		<integer>8</integer>
		<key>placeholder</key>
		<string>Marca</string>
	</dict>
	<dict>
		<key>header</key>
		<false/>
		<key>length</key>
		<integer>50</integer>
		<key>menuItem</key>
		<string>Modelo</string>
		<key>section</key>
		<integer>1</integer>
		<key>tag</key>
		<integer>9</integer>
		<key>placeholder</key>
		<string>Modelo</string>
	</dict>
	<dict>
		<key>header</key>
		<false/>
		<key>length</key>
		<integer>50</integer>
		<key>menuItem</key>
		<string>Cor</string>
		<key>section</key>
		<integer>1</integer>
		<key>tag</key>
		<integer>10</integer>
		<key>placeholder</key>
		<string>Cor</string>
	</dict>
	<dict>
		<key>header</key>
		<false/>
		<key>length</key>
		<integer>10</integer>
		<key>menuItem</key>
		<string>Placa</string>
		<key>section</key>
		<integer>1</integer>
		<key>tag</key>
		<integer>11</integer>
		<key>placeholder</key>
		<string>Placa</string>
	</dict>
	<dict>
		<key>header</key>
		<true/>
		<key>menuItem</key>
		<string>Notas</string>
		<key>section</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>header</key>
		<false/>
		<key>length</key>
		<integer>1000</integer>
		<key>menuItem</key>
		<string>Nota</string>
		<key>section</key>
		<integer>2</integer>
		<key>tag</key>
		<integer>12</integer>
	</dict>
</array>
</plist>
