<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>length</key>
		<integer>50</integer>
		<key>menuItem</key>
		<string>Nome</string>
		<key>section</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>1</integer>
		<key>placeholder</key>
		<string>Nome</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>50</integer>
		<key>menuItem</key>
		<string>Sobrenome</string>
		<key>section</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>2</integer>
		<key>placeholder</key>
		<string>Sobrenome</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>50</integer>
		<key>menuItem</key>
		<string>Telefone</string>
		<key>section</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>3</integer>
		<key>placeholder</key>
		<string>99 9999 9999</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>50</integer>
		<key>menuItem</key>
		<string>Celular</string>
		<key>section</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>4</integer>
		<key>placeholder</key>
		<string>99 9999 9999</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>50</integer>
		<key>menuItem</key>
		<string>E-mail</string>
		<key>section</key>
		<integer>0</integer>
		<key>tag</key>
		<integer>5</integer>
		<key>placeholder</key>
		<string>email@mail.com</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>50</integer>
		<key>menuItem</key>
		<string>Endereço</string>
		<key>section</key>
		<integer>1</integer>
		<key>tag</key>
		<integer>6</integer>
		<key>placeholder</key>
		<string>Endereço</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>50</integer>
		<key>menuItem</key>
		<string>Cidade</string>
		<key>section</key>
		<integer>1</integer>
		<key>tag</key>
		<integer>7</integer>
		<key>placeholder</key>
		<string>Cidade</string>
	</dict>
	<dict>
		<key>length</key>
		<integer>9</integer>
		<key>menuItem</key>
		<string>CEP</string>
		<key>section</key>
		<string>1</string>
		<key>tag</key>
		<integer>8</integer>
		<key>placeholder</key>
		<string>99999 999</string>
	</dict>
</array>
</plist>
