<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Acidente com outro veículo</string>
	<string>Acidente sem terceiro envolvido</string>
	<string>Capotamento</string>
	<string>Alagamento</string>
	<string>Furto / Roubo</string>
	<string>Outros</string>
</array>
</plist>
